<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'blog/css/bootstrap.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'blog/css/style.css' %}">
	<title>document</title>
</head>
<body >
 <div class="container-fluid bg-dark">
 	{% include 'blog/navbar.html' %}
 </div>
 <div class="container">
 	<div class="row">
 		<div class="col-sm-12">
 			{% block msg %}
 			{% endblock msg %} 			
 		</div>
 	</div>
  <div class="row">
  	<div class="col-sm-12">
    {% block content %}
  	{% endblock content %}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      {% block side %} 
      {% endblock side %}
    </div>
  </div>
 </div>
<script src="{% static 'blog/js/jquery.js' %}"></script>
<script src="{% static 'blog/js/bootstrap.js' %}"></script>
<script src="{% static 'blog/js/popper.js' %}"></script>
</body>
</html>